@font-face { 
  font-family: 'Satoshi';
  src: url(../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url(../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Satoshi', sans-serif;
  background-image: linear-gradient(to bottom, #11131F, #2C3155); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  margin: 0; 
  padding: 0; 
  height: 100vh;
}

