.main-wrapper {
    text-align: center;
    width: 516px;
    height: 217px;
    margin: auto;
    margin-top: 150px;
}

.title {
    font-size: 48px; 
    font-weight: 900;
    background: linear-gradient(to right,#9CA9FF, #FF7BFB); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.title, p {
    margin: 0;
}

.description {
    margin-top: 12px;
    font-size: 18px;
    color: #7A839F;
}

.search-input {
    font-family: 'Satoshi', sans-serif;
    width: 340px;
    height: 54px;
    border-radius: 12px;
    margin-top: 44px;
    padding-left: 14px;
}

.search-input::placeholder {
    color:#7A839F;
    padding-left: 2px;
}
